<div class="word-main">
  <div class="inner">
    <div class="page-heading">単語の登録</div>
    <div class="form__wrapper">
      <%= form_with model: @word, local: true do |f|%>
        <div class="field">
          <%= f.label :words, "単語" %><br />
          <%= f.text_field :words, id:"words" %>
        </div>
        <div class="field">
          <%= f.label :words_meaning, "単語の意味" %><br />
          <%= f.text_field :words_meaning, id:"words_meaning" %>
        </div>
        <div class="field">
          <%= f.label :words_pronunciation, "単語の発音" %><br />
          <%= f.text_field :words_pronunciation, id:"words_pronunciation" %>
        </div>
        <div class="actions">
          <%= f.submit "登録", class: "btn btn--purple btn--radius" %>
        </div>
      <% end %>
    </div>
  </div>
</div>