<div class='main'>

<%# タイトル %>
  <div class='main-title'>
    <span>中国語勉強アプリ</span>
  </div>
<%# //タイトル %>

<%# コマンド一覧 %>
  <div class='contents-list'>
    <div class='register-link'>
      <%= link_to "単語の登録", root_path, class:"register-btn" %>
      <%= link_to "例文の登録", root_path, class:"register-btn" %>
    </div>
    <div class='test-link'>
      <%= link_to "単語テスト", root_path, class:"word-test-btn" %>
      <%= link_to "単語の意味テスト", root_path, class:"word-test-btn" %>
      <%= link_to "例文の筆記テスト", root_path, class:"sentence-test-btn" %>
      <%= link_to "例文の意味テスト", root_path, class:"sentence-test-btn" %>
    </div>
  </div>
<%# //コマンド一覧 %>
  
</div>